* {
	background-color: wheat;
	font-family: "Roboto", sans-serif;
	font-style: normal;
}

.error {
	color: red;
}

.container {
	border: 2px solid blue;
	display: flex;
	flex-direction: column;
	margin: 2px;
	padding: 4px;
	max-width: 400px;
}

.row {
	padding: 4px;
	display: flex;
	justify-content: space-between;
}

.btn {
	padding: 4px;
	display: flex;
}